name: ArgoCD Workflow

on:
  push:
    branches:
      - main
    paths:
      - result/*
      - .github/workflows/argocd/**

env:
  IMAGE_REPOSITORY: akyldocker25/voting-app-result
  TAG: ${{ github.run_id }} # unique ID for each run
  ARGOCD_SERVER: argocd.example.com
  ARGOCD_USERNAME: ${{ secrets.ARGOCD_USERNAME }}
  ARGOCD_PASSWORD: ${{ secrets.ARGOCD_PASSWORD }}
  ARGOCD_APP_NAME: voting-app

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Docker login
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u akyldocker25 --password-stdin

      - name: Build Docker image
        run: |
          docker build -t $IMAGE_REPOSITORY:$TAG -t $IMAGE_REPOSITORY:latest result/

      - name: Push Docker image
        run: |
          docker push $IMAGE_REPOSITORY:$TAG
          docker push $IMAGE_REPOSITORY:latest

  update_k8s:
    runs-on: ubuntu-latest
    needs: build_and_push
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Update K8s Manifests
        run: bash scripts/updateK8sManifests.sh vote $IMAGE_REPOSITORY $TAG

  deploy_argocd:
    runs-on: ubuntu-latest
    needs: update_k8s
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Sync ArgoCD
        run: |
          argocd login $ARGOCD_SERVER --username $ARGOCD_USERNAME --password $ARGOCD_PASSWORD --insecure
          argocd app sync $ARGOCD_APP_NAME
